<pre ng-show="debug==true" ng-init=
"">
  Search Parameters
  Title: {{s.title}}
  Cast: {{s.cast}} - {{s.castMatch}}
  Tags: {{s.tags}} - {{s.tagMatch}}
  filtered db length {{filteredDB.length}}
  enableExperimentalFilters -{{enableExperimentalFilters}}
  {{s}}

s.page = {{s.page}}

s.perPage = {{s.perPage}}

 Filter Parameters
  {{f}}
</pre>
<div class="row" class="text-center advancedFilters fixPadding">

  <div class="col-xs-6 col-md-3" >
    <div class="input-group  input-group-sm">
      <span class="input-group-addon">Path</span>
      <input type="text" class="form-control" ng-model="f.title" >
    </div>
  </div>

  <div class="col-xs-6 col-md-3" >
    <button class="btn btn-sm" ng-class="(s.later ? 'btn-primary':'btn-default')" ng-click="s.later = !s.later"> Later? </button>
  </div>

  <div class="col-xs-6 col-md-3"  ng-show="advancedFilters">
    <div class="input-group  input-group-sm">
      <span class="input-group-addon">Cast</span>
      <input type="text" class="form-control" ng-model="s.cast" ng-list >
      <span class="input-group-addon" ng-click="f.castMatch = 0 - f.castMatch" ng-show="f.castMatch == -1" >
        MATCH<br>ANY
      </span>
      <span class="input-group-addon" ng-click="f.castMatch = 0 - f.castMatch" ng-show="f.castMatch == 1" >
        <strong>MATCH<br>ALL</strong>
      </span>
    </div>
  </div>
  <div class="col-xs-6  col-md-3"  ng-show="advancedFilters">

    <div class="input-group  input-group-sm">
      <span class="input-group-addon">Tags</span>
      <input type="text" class="form-control" ng-model="s.tags" ng-list >
        <span class="input-group-addon" ng-click="f.tagMatch = 0 - f.tagMatch" ng-show="f.tagMatch == -1" >
          MATCH<br>ANY
        </span>
        <span class="input-group-addon" ng-click="f.tagMatch = 0 - f.tagMatch" ng-show="f.tagMatch == 1" >
          <strong>MATCH<BR>ALL</strong>
        </span>
    </div>

  </div>

  <div class="col-xs-6 col-md-3">
    <div class="input-group  input-group-sm">
      <input type="text" class="form-control" ng-model="f.duration.min"  ng-init="f.duration.min=0" >
      <span class="input-group-addon">Mins</span>
    </div>
  </div>

  <div class="col-xs-6 col-md-3">
    <button ng-click="applyFilter();" class="btn btn-sm btn-default" title="Apply Filters">
      <i class="fa fa-check-circle"></i>
    </button>
  </div>

</div>


<div class="row" id="MeatAndPotatos">

  <div ng-hide="true" ng-init="editItem = -1" class="col-xs-6 hidden-xs leftSideThing">
    <div class="leftPreview"  ng-class="editItem == -1 ? '' : 'editingBackground' " style="background-image:url({{currentScreenshot}}); "></div>
    <div ng-show="editItem != -1" style="position:absolute;top:0;left:0;">

      <table class="table table-condensed">

        <tr>
          <td>title</td>
          <td><input class="input-sm form-control" ng-model="filteredDB[editItem].title"></td>
        </tr>

        <tr>
          <td>tags</td>
          <td><input class="input-sm form-control" ng-list="" ng-model="filteredDB[editItem].tags"></td>
        </tr>

        <tr>
          <td>cast</td>
          <td><input class="input-sm form-control" ng-list="" ng-model="filteredDB[editItem].cast"></td>
        </tr>

        <tr>
          <td>rating</td>
          <td><input class="input-sm form-control" ng-model="filteredDB[editItem].rating"></td>
        </tr>

        <tr>
          <td colspan="2">
            <button ng-click="editItem=-1;saveDB()" class="btn btn-sm btn-default">
              <i class="fa fa-save"></i> Save Changes 
            </button>
          </td>
        </tr>

      </table>

    </div>
  </div>

  <div class="col-sm-12">
    
    <div ng-repeat="(filmid, film) in filteredDB = (filmDB | filmSearch:s)">
      <div class="col-xs-12 col-md-6 col-lg-4 text-center ">
      
        <div class="embed-responsive embed-responsive-16by9">

          <div class="videoBlock embed-responsive-item"
            ng-hide="film.edit==1"
            ng-init="film.currentScreenshot = 1"
            style="background-image:url(screenshots/{{film.hash|limitTo:1:0}}/{{film.hash}}-{{film.currentScreenshot}}.jpg);"  
            ng-init="film.currentScreenshot = film.sshot[0]; film.edit = 0"
            ng-mouseleave="stopScreenPreview(filmid)" 
            ng-mouseover="startScreenPreview(filmid)">
            
            <a href="{{film.path}}" ng-click="film.watched = film.watched +1; saveDB()" 
              target="_blank" title="{{film.title}}">
              <i class="fa fa-play playButton" ng-hide="true"></i>
            </a>

            <div class="timecode">
              {{filmDuration(film.duration)}}
              <span ng-if="film.watched >= 1"> - {{film.watched}} Plays</span> 
              <button ng-click="setStatus(film.path)" class="btn btn-xs btn-default">
                <i class="fa fa-question-circle"></i>
              </button>
              <button ng-click="startScreenPreview(filmid)"  class="btn btn-xs btn-default"> 
                <i class="fa fa-picture-o"></i>
              </button>
              <button ng-click="getTags(film.path, filmid)" ng-show="film.tags"  class="btn btn-xs btn-default"> 
                <i class="fa fa-tag"></i>
              </button>
              <button ng-click="film.later=!film.later;saveDB();" class="btn btn-xs" ng-class="(film.later?'btn-primary':'btn-default')">  
                <i class="fa fa-clock-o"></i>
              </button>
              <button ng-click="film.edit = 1" class="btn btn-xs btn-default">
                <i class="fa fa-pencil"></i>
              </button>
            </div>

          </div>

          <div class="videoBlock videoBlockEdit embed-responsive-item"  ng-show="film.edit==1" >
            <table class="table table-condensed">
              <tr>
                <td>title</td>
                <td><input class="input-sm form-control" ng-model="film.title"></td>
              </tr>
              <tr>
                  <td>tags</td>
                  <td><input class="input-sm form-control" ng-list="" ng-model="film.tags"></td>
              </tr>
              <tr>
                  <td>cast</td>
                  <td><input class="input-sm form-control" ng-list="" ng-model="film.cast"></td>
              </tr>
              <tr>
                  <td>rating</td>
                  <td><input class="input-sm form-control" ng-model="film.rating"></td>
              </tr>
              <tr>
                <td colspan="2">
                  <button ng-click="film.edit=0" class="btn btn-sm btn-default">
                    <i class="fa fa-save"></i> Save Changes 
                  </button>
                </td>
              </tr>
            </table>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
<div class="row fixPadding">

  <div class="col-sm-6 hidden-xs text-center">
    <button class="btn  btn-sm btn-default" ng-click="saveDB()"> Save to Database </button>
    <button class="btn btn-sm btn-default" ng-click="shuffleDB()"> Shuffle </button>  
  </div>

  <div class="col-sm-6 text-center">
    <button class="btn btn-sm btn-default" 
      ng-click="s.page=s.page-1; scrollToTop()" ng-disabled="s.page == 0">
      Previous
    </button> 
    Page {{s.page+1}} 
    <button class="btn btn-sm btn-default" 
      ng-click="s.page=s.page+1; scrollToTop(); stopPreview();" >
      Next
    </button>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 text-center">
    <small>Total Film Count: {{filmDB.length}}</small><br> 
    <button class="btn btn-default btn-xs" ng-click="debug = !debug"><i class="fa fa-bug"></i> Toggle Debug Mode</button>    
    <button class="btn btn-default btn-xs" ng-click="advancedFilters = !advancedFilters"><i class="fa fa-flask"></i> Toggle Experimental Filters</button>
  </div>
</div>

<pre ng-show="false">{{s}}</pre>

<div class="statusBar" ng-init="status = ''">{{status}}</div>

<div class="modal fade" tabindex="-1" role="dialog" id="tagModal">
  <div style="position:fixed;left:0;top:0">
    <span ng-repeat="shot in filmDB[fetchedTagsForFilm].sshot">
      <img src="{{shot}}" class="img-responsive" style="height:20vh;width:auto;">
    </span>
  </div>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Tags</h4>
      </div>
      <div class="modal-body">
        <p>Check the tags below.  Which set is right?</p>
        <table class="table table-bordered">
          <tr ng-repeat="(tagListid, tagList) in fetchedTags">
          <td>
            <span  ng-repeat="(tagid, tag) in tagList | orderBy:'toString()'"> 
              <span class="label label-default clickable" ng-click="remove(tag, tagListid)">
                {{tag}}
              </span> 
            </span>
            <p>
              <button ng-click="filmDB[fetchedTagsForFilm].tags = tagList; saveDB();" class="btn btn-primary">Use These Tags!</button>
            </p>
          </td>
          </tr>
        </table>
        <p ng-if="!fetchedTags[0].length">
          <span ng-repeat="tag in fetchedTags"> <span class="label label-default" style="margin-right:1em">{{tag}}</span> </span>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>